<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCUGYnf6R6542u_hdMCdtXpICw42UDGE_o</string>
	<key>GCM_SENDER_ID</key>
	<string>338663398042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ewsrtes.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ewsrtes-72f2a</string>
	<key>STORAGE_BUCKET</key>
	<string>ewsrtes-72f2a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338663398042:ios:e92f3aeaa28c7471325d23</string>
</dict>
</plist>